<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Presupuesto</title>
    {% load humanize %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col s12 m12">
          <div class="card pink lighten-3">
            <div class="card-content black-text">
              <span class="card-title">Mi Presupuesto</span>
                <table class="striped">
                  <thead>
                    <tr>
                      <th>Balance</th>
                      <th>Ingresos</th>
                      <th>Gastos</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in balance %}
                    <tr>
                      <td>{{ data.saldo|intcomma }}</td>
                      <td>{{ data.ingresos|intcomma }}</td>
                      <td>{{ data.gastos|intcomma }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                 </table >
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col s12 m12">
           <div class="card purple lighten-1">
             <div class="card-content black-text">
               <span class="card-title">Mis Movimientos</span>
               <table class="striped">
                 <thead>
                   <tr>
                     <th></th>
                     <th>Categoria</th>
                     <th>Tipo</th>
                     <th>Monto</th>
                     <th>Fecha</th>
                   </tr>
                 </thead>

                 <tbody>
                   {% for mov in movimientos %}
                   <tr>
                     <td>{{ forloop.counter|ordinal }}</td>
                     <td>{{ mov.categoria.descripcion }}</td>
                     <td>{{ mov.tipo }}</td>
                     <td>{{ mov.monto|intcomma }}</td>
                     <td>{{ mov.fecha }}</td>
                     <td>
                       <a href="{% url 'borrarMovimiento' mov.id %}">
                        <i class="material-icons">delete_forever</i>
                       </a>
                   </td>
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>
     <! -- Botón para agregar nuevo movimiento-->
     <div class="fixed-action-btn">
       <a href="{% url 'movimiento' %}" class="btn-floating btn-large red">
         <i class="large material-icons">add</i>
       </a>
     </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
